In [2]:
import nltk
import random
from nltk.corpus import brown

In [3]:
gold_standard = brown.tagged_words(categories='news')
test_tagged = nltk.pos_tag([w for (w, pos) in gold_standard])
tag = 'DT'

In [4]:
#https://stackoverflow.com/questions/9535954/printing-lists-as-tabular-data

In [5]:
test_tagged[:20]

[('The', 'DT'),
 ('Fulton', 'NNP'),
 ('County', 'NNP'),
 ('Grand', 'NNP'),
 ('Jury', 'NNP'),
 ('said', 'VBD'),
 ('Friday', 'NNP'),
 ('an', 'DT'),
 ('investigation', 'NN'),
 ('of', 'IN'),
 ("Atlanta's", 'NNP'),
 ('recent', 'JJ'),
 ('primary', 'JJ'),
 ('election', 'NN'),
 ('produced', 'VBD'),
 ('``', '``'),
 ('no', 'DT'),
 ('evidence', 'NN'),
 ("''", "''"),
 ('that', 'IN')]

In [6]:
#precision = TP/(TP+FP)
table = [[0,0],[0,0]]
for i in range (0, len(gold_standard)):
    test_tag = test_tagged[i][1]
    gold_tag = gold_standard[i][1]
    if test_tag == gold_tag:
        if test_tag == tag: 
            table[0][0]+=1 #TP
        else:
            table[1][1]+=1 #TN
    else:
        if test_tag == tag:
            table[1][0]+=1 #FN
        elif gold_tag == tag:
            table[0][1]+=1 #FP

precision = table[0][0]/(table[0][0]+table[0][1])
precision

0.9151103565365025

In [ ]:
# recall = TP/(TP+FN)
recall = table[0][0]/(table[0][0]+table[1][0])
recall

In [ ]:
# fmeasure = (2 * Precision * Recall) / (Precision + Recall)
fmeasure = (2 * precision * recall)/(precision + recall)
fmeasure

In [10]:
import pandas
pandas.DataFrame(table, [['PREDICTION',''],['Positive','Negative']], [['TRUTH',''],['Positive','Negative']])

                       TRUTH
                    Positive Negative
PREDICTION Positive      539       50
           Negative     9545    59009