In [1]:
import nltk
from nltk.book import *

*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

Next hw about troll
- find troll online
- identify common features
    - does not need to be natural languages

In [2]:
dictionary = { 'first': 'one','second':2, 3:'three', 4:4 } 
for key in dictionary:
    print(dictionary[key])

one
2
three
4

In [3]:
import os
os.listdir('.')

['.ipynb_checkpoints',
 '1-17-2018 Notes',
 '1-19-2018 Notes',
 '1-19-2018 Notes.py',
 '1-22-2018.ipynb',
 '1-24-2018 Temp.txt',
 '1-24-2018 Texts',
 '1-26-2018.ipynb',
 '1-29-2018.ipynb',
 '1-31-2018.ipynb',
 '1_24_18.ipynb',
 '2-14-2018.ipynb',
 '2-16-2018.ipynb',
 '2-19-2018.ipynb',
 '2-21-2018.ipynb',
 '2-5-2018.ipynb',
 '2-7-2018.ipynb',
 '2-9-2018.ipynb',
 'AngelasAshes.txt',
 'Ch2 Notes.ipynb',
 'Ch3.ipynb',
 'our_data.txt',
 'PetDiary.txt']

In [4]:
for line in open('1-24-2018 Temp.txt'):
    print (line)

Synonyms



Antonyms



synset (synonym set): collection of synonyms



lemmas: pairing a synset with a word



root synset or hypernym: parent in hierarchy



hyponyms: more specific or sub structure in hierarchy



	motor vehicle

	is parent to

	motor car / truck / go kart



meronyms: components that make up an item that represents the item;

		items are identified by their components, components are the meronyms



holonyms: are the containing items of the object



entailments: composing parts of an activity

In [29]:
out_file = open ('our_data.txt','w',)
out_file.write('data without new line')

21

In [30]:
out_file.write('need a \\ and n \n for a new line')

31

In [31]:
out_file.write('need a \\ and n \n for a new line')

31

In [32]:
s = [ 5, 1, 5, 3, 4, 8, 3, 5, 2, 3]
data = ""
for item in s:
    data = data + ' ' + str(item)

In [33]:
data

' 5 1 5 3 4 8 3 5 2 3'

In [34]:
out_file.write(data)

20

In [35]:
out_file.write('\n')

1

In [36]:
out_file.write(data[3])

1

In [37]:
out_file.close()

In [38]:
in_file = open('our_data.txt','r')

In [39]:
in_file

In [40]:
contents = in_file.read()

In [41]:
contents

'data without new lineneed a \\ and n \n for a new lineneed a \\ and n \n for a new line 5 1 5 3 4 8 3 5 2 3\n1'

In [42]:
contents = in_file.readline()
contents #empty because pointer at the end of the file'

''

In [43]:
in_file.close()
in_file = open('our_data.txt','r')
contents = in_file.readline()
contents

'data without new lineneed a \\ and n \n'

In [44]:
in_file.seek(0) #lead pointer to starting index
contents = in_file.read()
contents

'data without new lineneed a \\ and n \n for a new lineneed a \\ and n \n for a new line 5 1 5 3 4 8 3 5 2 3\n1'

In [26]:
data = 'This is our first paragraph. It contains punctuation like the comma, and it also contains periods.'
tokens = nltk.word_tokenize(data)

In [27]:
tokens

['This',
 'is',
 'our',
 'first',
 'paragraph',
 '.',
 'It',
 'contains',
 'punctuation',
 'like',
 'the',
 'comma',
 ',',
 'and',
 'it',
 'also',
 'contains',
 'periods',
 '.']